.nav-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	margin: 0px;
	margin-top: 3rem;
	padding-right: 1rem;
	width: 100%;
	flex-direction: column;
	align-items: flex-end;
	list-style: none;
	background-color: black;
	/* background-color: scroll; */
	background-size: cover;
	z-index: 1;
	/* overflow-x: hidden; */
}

.hamburger {
	display: flex;
	justify-content: right;
	margin-right: 0.75rem;
	position: absolute;
	margin-left: 85%;
}

.nav-link {
	text-decoration: none;
	color: white;
}

nav li {
	padding-top: 1rem;
}

/* references for hamburger menu -->https://ibaslogic.com/how-to-add-hamburger-menu-in-react/ https://css-tricks.com/hamburger-menu-with-a-side-of-react-hooks-and-styled-components/ */
